version: '3.7'
services:
  http:
    build:
      context: .
      target: builder
      dockerfile: ./docker/http/Dockerfile
    ports:
      - 3000:3000
    volumes:
      - .:/go/src/github.com/yyh-gl/hobigon-golang-api-server
    working_dir: /go/src/github.com/yyh-gl/hobigon-golang-api-server
    command: ["sh", "-c", "air -c .air.http.toml"]
    environment:
      APP_ENV: "develop"
      GO111MODULE: "on"
      MYSQL_HOST: "db"
      MYSQL_PORT: "3306"
      MYSQL_DATABASE: "hobigon"
      MYSQL_USER: "root"
      MYSQL_PASSWORD: "mysql"
      LOG_PATH: "./logs"
    env_file:
      - .secret_env
    depends_on:
      - db

  graphql:
    build:
      context: .
      target: builder
      dockerfile: ./docker/graphql/Dockerfile
    ports:
      - 8081:8081
    volumes:
      - .:/go/src/github.com/yyh-gl/hobigon-golang-api-server
    working_dir: /go/src/github.com/yyh-gl/hobigon-golang-api-server
    command: ["sh", "-c", "air -c .air.graphql.toml"]
    environment:
      APP_ENV: "develop"
      GO111MODULE: "on"
      MYSQL_HOST: "db"
      MYSQL_PORT: "3306"
      MYSQL_DATABASE: "hobigon"
      MYSQL_USER: "root"
      MYSQL_PASSWORD: "mysql"
      LOG_PATH: "./logs"
    env_file:
      - .secret_env
    depends_on:
      - db
  
  db:
    # mysql:8.0（M1 Macのためにダイジェストで指定）
    image: mysql@sha256:03306a1f248727ec979f61424c5fb5150e2c5fd2436f2561c5259b1258d6063c
    ports:
      - 13306:3306
    volumes:
      - ./docker/mysql:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: "mysql"
      MYSQL_DATABASE: "hobigon"
    security_opt:
      - seccomp:unconfined
